/*------------------------------ RESET CSS ------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*---------------------------------------- CUSTOM ----------------------------------------*/
body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 13px;
    color: #444444;
}

.container {
    width: 940px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

a {
    font-size: 13px;
    color: #444444;
    text-decoration: none;
}

/*---------------------------------------- PROJECT LIST ----------------------------------------*/
.product-list {
    margin-top: 20px;
}

.product-item {
    padding: 15px;
    border-radius: 4px;
}

.product-item:hover {
    background-color: #f2f2f2;
}

.product-item > * {
    display: inline-block;
    vertical-align: middle;
}

.product-item-media {
    width: 130px;
    height: 90px;
}

.product-item-info {
    padding: 0 20px;
    height: 90px;
}

.product-item-info p {
    line-height: 50px;
    color: #999999;
    font-size: 14px;
}

.product-item-link {
    display: block;
    width: 20px;
    padding: 3px;
    border-radius: 50%;
    float: right;
    background-color: white;
    text-align: center;
}

.small-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*---------------------------------------- UPVOTE BUTTON ----------------------------------------*/
.upvote-button {
    font-weight: 600;
    margin-right: 15px;
    width: 34px;
    text-align: center;
    padding: 4px 0;
    border-radius: 4px;
    background-color: #fff;
}

.upvote-button:hover {
    color: #5e9aee;
    font-size: 1.2em;
}

.upvote-button:active {
    color: #5e9aee;
}

.upvote-button > * {
    display: block;
    padding: 3px;
}

/*---------------------------------------- LINK BUTTON ----------------------------------------*/
.product-item-link:hover {
    color: #5e9aee;
    font-size: 1.2em;
}

.product-item-link:active {
    color: #5e9aee;
}

/*---------------------------------------- NAVBAR -------------------------------------------*/
.login-btn {
    padding-top: 9px;
    color: #999999;
    font-weight: 500;
    font-size: 11px;
    display: block;
}

.login-btn:hover {
    color: #da552f;
}

.navbar {
    text-align: center;
    padding: 10px 10px 5px;
}

.navbar .left-side {
    float: left;
}

.navbar .left-side .product-search {
    background-color: #f2f2f2;
    color: #999999;
    padding: 0 12px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    height: 30px;
    width: 200px;
    outline: 0;
}

.navbar .right-side {
    float: right;
}

.navbar .right-side section > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.navbar .right-side a:hover {
    color: #da552f;
}

/*---------------------------------------- POPUP -------------------------------------------*/
.popup .popup-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
}

.popup .popup-wrap img {
    position: fixed;
    top: 40px;
    left: 40px;
    cursor: pointer;
}

.popup .popup-content {
    position: fixed;
}

button {
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 500;
    outline: 0;
    border: 0;
}

button:hover {
    cursor: pointer;
}

.popup-content.login-popup {
    text-align: center;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.facebook-btn {
    color: white;
    background-color: #3b5998;
    margin: 20px;
}